*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FONT */
body{
    font-family: 'Open Sans', sans-serif;
}
/* CLEARFIX */
.clearfix::after{
    content: "";
    display: table;
    clear:both;
}
/* COMMON */
.button-white{
    background:#fff;
    padding: 10px 20px ;
    border: 1px solid;
}
.button-blue{
    background: #0063ff;
    color:white;
    padding: 5px 10px;
}
a{
    text-decoration: none;
}
/* HEADER */
header{
    position: fixed;
    padding: 15px;
    width: 100%;
    background:white;
    z-index: 10;
}

header ul, header li{
    display: inline-block;
}

.logo, header ul li a{
    vertical-align: middle;
    color:black;
}

.nav-sx, .nav-sx ul li, .nav-dx, .nav-dx ul li{
    display: inline-block;
}

.header-sx, .header-dx{
    display: inline-block;
    width: calc(100% / 2 - 5px);
}

.header-dx{
    text-align: right;
}

header a{
    margin:auto 20px;
}
/* MAIN */
.container-largo{
    padding-top: 100px;
    max-width: 1300px;
    margin:auto;
}
.container{
    max-width: 1080px;
    margin:auto;
}
    /* HERO */
    .hero{
        background: #b4d0e6;
        height: 730px;
        margin-bottom: 200px;
    }
    
    .hero h1{
        font-size: 4.5em;
        margin-bottom:70px;
    }
    
    .col-text-hero, .col-img-hero{
        float:left;
    }
    
    .col-text-hero{
        width: 30%;
     }
    
     .col-text-hero p{
         margin-bottom:40px;
     }
    
    
    .col-img-hero{
        width:70%;
        text-align: center;
    }
    
    .col-img-hero img{
        height: 470px;
    }
    /* PLANS HEAD*/
    .plans-header h1{
        font-size: 2.5em;
    }
    .plans-scelta{
        margin-top: 25px;
        display: inline-block;
    }
    .plans-mese{
        margin-right: 20px;
    }
    /* PLANS COL */
    .col-plans{
        min-height: 900px;
        width: 30%;
        border:1px solid;
        float:left;
        padding: 20px;
        margin-top: 30px;
    }
    .col-header{
        text-align: center;
    }
    .col-price{
        margin-top: 15px;
    }
    .plans-info{
        margin-top: 40px;
    }
    .plans-info ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .col-plans-top .button-blue{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .col-plans-top hr{
        width: 20%;
        text-align: left;
    }
    
    .focus-points{
        margin-top: 20px;
    }
    .focus-points ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 40px;
    }
    .col-ctr{
        margin: auto 5%;
        margin-top: 30px;
    }
    .col-plans h2{
        margin-top: 10px;
    }

     .button-blue-col{
        background: #0063ff;
        color:white;
        padding: 5px 10px;
       margin-top: 20px;
       margin-bottom: 20px;
        margin-left: 20px;
        width: 250px;
       
    }
    /* ENTERPRISE */
    .col-ent{
        min-height: 200px;
        width: 100%;
        border:1px solid;
        float:left;
        padding: 20px;
        margin-top: 25px;
        margin-bottom: 70px;
    }
    .enterprise{
        float:left;
        width: 30%;
        text-align: right;
    }
    
    .enterprise .button-blue{
        display: inline-block;
    }
    .col-main-ent{
        padding: 0 15px;
        margin-top:10px;
    }

  .enterprise{
      text-align: left;
      width: 100%;
  }
    .ufficio{
        display: inline-block;
        float: right;
    }
    /* PARTNER */
    .col-partner-left, .col-partner-right{
        float:left;
    }
    
    .col-partner-left{
        width: 60%;
    }
    
    .col-partner-left img{
        width: 90%;
    }
    
    .col-partner-right{
        width: 40%;
        padding-top:50px;
    }
    
    .col-partner-right p{
        line-height: 30px;
    }
    
    .col-partner-right h2{
        margin-bottom:20px;
    }
    
    .col-partner-right a{
        color:black;
        margin-top:30px;
        display: inline-block;
    }
    
    .partner-section{
        margin-bottom: 110px;
        padding-top: 50px;
    }
    /* BUSINESS */
    .col-bus {
        float: left;
        width: calc( 100% / 3 - 8px);
        margin: 0 4px;
    }
    
    .product {
        position: relative;
        margin-top: 30px;
    }
    .product img {
        width: 100%;
        display: block;
    }
    .info-bus{
        margin-top: 20px;
    }
    /* DROPBOX TEAMS */
    .dropbox-business-title h1{
        font-size: 30px;
        margin-bottom: 40px;
    }
    
    .dropbox-business .container{
        margin-bottom:40px;
    }
    
    .square-left,.square-right{
        position: relative;
        border:1px solid;
        height: 25vw;
        width: 25%;
        
    
    }
    
    .square-left{
        float:left;
    }
    
    .square-right{
        float:right;
    }
    
    .square-1,.square-2,.square-3,.square-4{
        position: absolute;
        height: 50%;
        width: 50%;
        text-align: center;
    }
    
    .square-left img,.square-right img{
        width: 50%;
    }
    .square-center img{
        width: 20%;
       
    }
    
    .square-1{
        left:0;
        top:0;
        float: left;
    }
    .square-2{
        right:0;
        top:0;
        float: left;
    }
    .square-3{
        left:0;
        bottom:0;
        float: left;
    }
    .square-4{
        right:0;
        bottom:0;
        float: left;
    }
    
    .square-left .square-1{
        background: #a3d49c;
    }
    
    .square-left .square-2{
        background: #63072c;
    
    }
    .square-left .square-3{
        background: #0393cf;
    }
    .square-left .square-4{
        background: #fe1c1e;
    }
    
    .square-right .square-1{
        background: #d50020;
    }
    
    .square-right .square-2{
        background: #b4d0e6;
    
    }
    .square-right .square-3{
        background: #0e2582;
    }
    .square-right .square-4{
        background: #ffd930;
    }
    
    
    .square-center{
        height: 25vw;
        width: 50%;
        display: inline-block;
        background:#f6f6f6;
        padding: 50px 50px 50px 50px;
    }
    
    .square-center hr{
        width: 10%;
        margin: 30px 0 50px 0;
    }
    
    .square-center p{
        margin-bottom: 60px;
    }
    
  
    .square-right img{
        margin-top: 50%;
        filter: invert();
    }
    .square-left img{
        margin-top: 50%;
        filter: invert();
    }