*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FONT */
body{
    font-family: 'Open Sans', sans-serif;
}
/* CLEARFIX */
.clearfix::after{
    content: "";
    display: table;
    clear:both;
}
/* COMMON */
.button-white{
    background:#fff;
    padding: 10px 20px ;
    border: 1px solid;
}
.button-blue{
    background: #0063ff;
    color:white;
    padding: 5px 10px;
}
a{
    text-decoration: none;
}
/* HEADER */
header{
    position: fixed;
    padding: 15px;
    width: 100%;
    background:white;
    z-index: 10;
}

header ul, header li{
    display: inline-block;
}

.logo, header ul li a{
    vertical-align: middle;
    color:black;
}

.nav-sx, .nav-sx ul li, .nav-dx, .nav-dx ul li{
    display: inline-block;
}

.header-sx, .header-dx{
    display: inline-block;
    width: calc(100% / 2 - 5px);
}

.header-dx{
    text-align: right;
}

header a{
    margin:auto 20px;
}
/* MAIN */
.container-largo{
    padding-top: 100px;
    max-width: 1300px;
    margin:auto;
}
.container{
    max-width: 1080px;
    margin:auto;
}
    /* HERO */
    .hero{
        background: #b4d0e6;
        height: 730px;
        margin-bottom: 200px;
    }
    
    .hero h1{
        font-size: 4.5em;
        margin-bottom:70px;
    }
    
    .col-text-hero, .col-img-hero{
        float:left;
    }
    
    .col-text-hero{
        width: 30%;
     }
    
     .col-text-hero p{
         margin-bottom:40px;
     }
    
    
    .col-img-hero{
        width:70%;
        text-align: center;
    }
    
    .col-img-hero img{
        height: 470px;
    }
    /* PLANS HEAD*/
    .plans-header h1{
        font-size: 2.5em;
    }
    .plans-scelta{
        margin-top: 25px;
        display: inline-block;
    }
    .plans-mese{
        margin-right: 20px;
    }
    /* PLANS COL */
    .col-plans{
        min-height: 900px;
        width: 30%;
        border:1px solid;
        float:left;
        padding: 20px;
        margin-top: 30px;
    }
    .col-header{
        text-align: center;
    }
    .col-price{
        margin-top: 15px;
    }
    .plans-info{
        margin-top: 40px;
    }
    .plans-info ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .col-plans-top .button-blue{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .col-plans-top hr{
        width: 20%;
        text-align: left;
    }
    
    .focus-points{
        margin-top: 20px;
    }
    .focus-points ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 40px;
    }
    .col-ctr{
        margin: auto 5%;
        margin-top: 30px;
    }
    .col-plans h2{
        margin-top: 10px;
    }